<div class="rr-container ph3">
  <div class="rr-page-header">
    <LinkTo @route="index">
      <h1 class="rr-app-title">Movie List</h1>
   </LinkTo>
    {{#if @session.isAuthenticated}}
      <div class="rr-user-panel">
        <span data-test-rr="user-email">{{this.session.data.authenticated.userEmail}}</span>
      </div>
      | <button type="button" {{on "click" this.logout}} data-test-rr="logout">Logout</button>
    {{/if}}
  </div>
  <div class="rr-main-content">
    {{outlet}}
  </div>
</div>