<div class="rr-form-container w-25">
  <h3 data-test-rr="form-header" class="h2 text-center mt-5">Log in to MovieList</h3>
  <Form {{on "submit" this.signIn}} class="my-4">
    <div class="rr-form-inline-row">
      <label for="email">Email</label>
      <Input type="email" class="form-control" id="email" @value={{this.email}}/>
    </div>
    <div class="rr-form-inline-row">
      <label for="password">Password</label>
      <Input type="password" class="form-control" id="password" @value={{this.password}}/>
    </div>
    <div class="rr-form-footer">
      <div class="rr-button-panel">
        <button type="submit" class="btn btn-primary" data-test-rr="login-button">Sign in</button>
      </div>
    </div>
  </Form>
</div>