<div class="rr-form-container">
  <h3 data-test-rr="form-header">Log in to MovieList</h3>
  <form {{on "submit" this.signIn}}>
    <div class="rr-form-inline-row">
      <label for="email">Email</label>
      <Input type="email" class="rr-input ml-auto" id="email" @value={{this.email}}/>
    </div>
    <div class="rr-form-inline-row">
      <label for="password">Password</label>
      <Input type="password" class="rr-input ml-auto" id="password" @value={{this.password}}/>
    </div>
    <div class="rr-form-footer">
      <div class="rr-button-panel">
        <button type="submit" class="rr-action-button" data-test-rr="login-button">Sign in</button>
      </div>
    </div>
  </form>
</div>

